@font-face {
    font-family: 'CircularStd';
    src: url('./fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('./fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('./fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('./fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'CircularStd', sans-serif;
}

.text-primary {
    @apply text-[#1f2e4c]
}

.text-secondary {
    @apply text-[#0074e8]
}

.text {
    @apply text-[#003d7a]
}

h1 {
    @apply text-primary tracking-tight text-center;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: normal;
}

h2 {
    @apply text-primary font-bold tracking-tighter text-2xl xl:text-start text-center w-11/12;
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 800;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 46, 116, 0.25);
}

.shadow:hover {
    box-shadow: 0px 0px 20px rgba(0, 46, 116, 0.34);
}

li {
    @apply inline-flex items-start gap-2 xl:text-sm
}

.bg-primary {
    background-color: #1f2e4c;
}

.bg-secondary {
    background-color: #0472e3;
}

.bg-primary:hover {
    background-color: #0472e3;
}